/*
 * Theme Name: De Buurman Thema
 * Description: Theme van deze website
 * Author: Dragon Media Group <info@dragonmediagroup.nl>
*/
@import 'styles/_var';

body {
  font-family: @font-base;
  background: black;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-title;
}

a {
  color: @color-default;
  &:hover {
    color: @color-highlight;
  }
}

.gallery-img {
  padding-bottom: 15px;
}

.btn-primary {
  background: @color-highlight;
  color: white;
  border: 0;
  font-family: @font-base;
  &:hover {
    background: lighten(@color-highlight, 5%);
  }
}

.header {
  @height: 120px;
  height: @height;
  background: white;
  .custom-logo-link {
    width: 100%;
    height: @height;
    display: table-cell;
    vertical-align: middle;
  }
  .custom-logo {
    height: auto;
    width: 100%;
    max-height: 100px;

  }
  .top-nav {
    padding: 0;
  }
  ul.main-nav:not(.dropdown-menu) {
    //list-style: none;
    //padding: 0;
    //margin: 0;
    > li {
      display: inline-block;
      float: none;
      //margin-left: 15px;
      > a {
        line-height: @height;
        padding: 0;
      }
      &.current-menu-item a, &.page_item a {
        color: @color-highlight;
        font-weight: bold;
      }
    }
  }
}

.top-image {
  border-bottom: 5px solid white;
  .bx-wrapper {
    margin-bottom: 0;
  }
  .slide-img {
    height: 80vh;
    background-size: cover;
  }
}

.overlay-text {
  margin-top: -200px;
  color: white;
  text-align: center;
}

.valign {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.white-box-container {
  height: 0;
  min-height: 0;
}

@whitebox-height: 80px;
.white-box {
  @height: @whitebox-height;
  background: white;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.65);
  height: @height;
  position: relative;
  top: (@height / -2)-5;
  display: table;
  max-width: 100%;
  .valign {
    height: @height;
  }
  .text {
    font-family: @font-title;
    font-size: 24px;
    padding-left: 15px;
    line-height: @height;
  }
  //.text-container {
  //  height: @height;
  //  width: 100%;
  //  vertical-align: middle;

  //
  //}

}

.wooden-bg {

  background: url('images/buurman_bg_wood.png') fixed;
  background-size: cover;
  > .container {
    background: white;
  }
}

.align-right {
  float: right;
  margin-right: 15px;
}

#page-content {
  .feature-items {
    padding-top: (@whitebox-height/2) + 15px;
  }

  .feature-item {
    height: 306px;
    text-align: center;
    h3 {
      color: @color-highlight;
    }
    .feature-img-container {
      height: 180px;
    }
    .ornament {
      path, line {
        fill: #000;
        stroke: #000;
      }
    }
  }
  .text-content {
    padding-top: 30px;
  }
}

footer.footer {
  border-top: 5px solid white;
  background: black;
  padding: 30px 0;
  .footer-column {
    color: white;
    &:not(:last-child) {
      border-right: 1px solid white;
    }
    time {
      display: block;
      .day {
        display: block;
        font-weight: bold;
      }
    }
    .social-media-item {
      display: table;
      margin-bottom: 15px;
      color: white;
      &:hover {
        text-decoration: none;
      }
      span {
        padding-left: 15px;
        display: table-cell;
        vertical-align: middle;
      }
      .fa {
        font-size: 32px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

#frontpage-slider img {
  width: 100%;
}

//.form-group {
//  &.has-error {
//    input, .help-block {
//      color: red
//    }
//    input {
//      border: solid red 1px;
//      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
//    }
//  }
//}

.sm {
  font-size: 130%;
  font-weight: bold;
}

.cat-img {
  height: auto;
  width: 100%
}

.bx-wrapper {
  list-style-type: none;
  border: none !important;
}

.row.row_partners {
  border-bottom: 2px solid black;
  padding: 10px;
}

.row.row_partners:last-child {
  border-bottom: 0;
}

.row.row_partners:last-child {
  margin-bottom: 25px;
}

.row.row_partners div a img {
  height: 100px;
}

#partners h2 {
  font-family: "Open Sans", sans-serif;
}

.row.row_partners div a {
  text-decoration: none;
}

.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 450px; /* your iframe height */
  top: 484px; /* your iframe height */
  margin-top: -450px; /* your iframe height */
}

.menu-categories {
  margin-bottom: 15px;
}

.menu-categories ul {
  width: 100%;
  list-style-type: none;
  display: inline;
}

.menu-categories ul li {
  width: 100%;
  font-size: 20pt;
}

.menu-categories ul li a {
  margin-right: 15px;
  margin-left: 15px;
}

#wpcf7-f138-o1 {
  width: 60%;
}

.menu-category {
  //margin-bottom: 25px;
  //border: 1px solid black;
  //border-radius: 5px;
}

.menu-category .row:first-child {
  padding-top: 15px;
}

.menu-category .row:last-child {
  padding-bottom: 15px;
}

.menu-category .row {
  padding-left: 15px;
  padding-right: 15px;
}

.category-name {
  font-family: @font-title;
  font-weight: bold;
  font-size: 20pt;
  border-bottom: 2px solid grey;
}

.menu-category img {
  padding: 10px;
}

.cat-image {
  text-align: center;
}

.category-name:hover {
  text-decoration: none;
  border-bottom: 2px solid #c29b5f;
}

.menu-item {
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
}

.subcat-holder {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.item-title {
  font-weight: bold;
}

.subcat-title {
  border-bottom: 2px solid black;
}

.subcat-title:hover {
  border-bottom: 2px solid #c29b5f;
}

.subcat-holder a:hover {
  text-decoration: none;
}