/*
 * Theme Name: De Buurman Thema
 * Description: Theme van deze website
 * Author: Dragon Media Group <info@dragonmediagroup.nl>
*/
@font-face {
  font-family: 'black_jackregular';
  src: url('styles/font/blackjack-webfont.eot');
  src: url('styles/font/blackjack-webfont.eot?#iefix') format('embedded-opentype'), url('styles/font/blackjack-webfont.woff') format('woff'), url('styles/font/blackjack-webfont.ttf') format('truetype'), url('styles/font/blackjack-webfont.svg#black_jackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: black;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'black_jackregular', "Times New Roman", Serif;
}
a {
  color: black;
}
a:hover {
  color: #c29b5f;
}
.gallery-img {
  padding-bottom: 15px;
}
.btn-primary {
  background: #c29b5f;
  color: white;
  border: 0;
  font-family: 'Open Sans', sans-serif;
}
.btn-primary:hover {
  background: #c9a771;
}
.header {
  height: 120px;
  background: white;
}
.header .custom-logo-link {
  width: 100%;
  height: 120px;
  display: table-cell;
  vertical-align: middle;
}
.header .custom-logo {
  height: auto;
  width: 100%;
  max-height: 100px;
}
.header .top-nav {
  padding: 0;
}
.header ul.main-nav:not(.dropdown-menu) > li {
  display: inline-block;
  float: none;
}
.header ul.main-nav:not(.dropdown-menu) > li > a {
  line-height: 120px;
  padding: 0;
}
.header ul.main-nav:not(.dropdown-menu) > li.current-menu-item a,
.header ul.main-nav:not(.dropdown-menu) > li.page_item a {
  color: #c29b5f;
  font-weight: bold;
}
.top-image {
  border-bottom: 5px solid white;
}
.top-image .bx-wrapper {
  margin-bottom: 0;
}
.top-image .slide-img {
  height: 80vh;
  background-size: cover;
}
.overlay-text {
  margin-top: -200px;
  color: white;
  text-align: center;
}
.valign {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.white-box-container {
  height: 0;
  min-height: 0;
}
.white-box {
  background: white;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 29px -11px rgba(0, 0, 0, 0.65);
  height: 80px;
  position: relative;
  top: -45px;
  display: table;
  max-width: 100%;
}
.white-box .valign {
  height: 80px;
}
.white-box .text {
  font-family: 'black_jackregular', "Times New Roman", Serif;
  font-size: 24px;
  padding-left: 15px;
  line-height: 80px;
}
.wooden-bg {
  background: url('images/buurman_bg_wood.png') fixed;
  background-size: cover;
}
.wooden-bg > .container {
  background: white;
}
.align-right {
  float: right;
  margin-right: 15px;
}
#page-content .feature-items {
  padding-top: 55px;
}
#page-content .feature-item {
  height: 306px;
  text-align: center;
}
#page-content .feature-item h3 {
  color: #c29b5f;
}
#page-content .feature-item .feature-img-container {
  height: 180px;
}
#page-content .feature-item .ornament path,
#page-content .feature-item .ornament line {
  fill: #000;
  stroke: #000;
}
#page-content .text-content {
  padding-top: 30px;
}
footer.footer {
  border-top: 5px solid white;
  background: black;
  padding: 30px 0;
}
footer.footer .footer-column {
  color: white;
}
footer.footer .footer-column:not(:last-child) {
  border-right: 1px solid white;
}
footer.footer .footer-column time {
  display: block;
}
footer.footer .footer-column time .day {
  display: block;
  font-weight: bold;
}
footer.footer .footer-column .social-media-item {
  display: table;
  margin-bottom: 15px;
  color: white;
}
footer.footer .footer-column .social-media-item:hover {
  text-decoration: none;
}
footer.footer .footer-column .social-media-item span {
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
}
footer.footer .footer-column .social-media-item .fa {
  font-size: 32px;
  display: table-cell;
  vertical-align: middle;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
#frontpage-slider img {
  width: 100%;
}
.sm {
  font-size: 130%;
  font-weight: bold;
}
.cat-img {
  height: auto;
  width: 100%;
}
.bx-wrapper {
  list-style-type: none;
  border: none !important;
}
.row.row_partners {
  border-bottom: 2px solid black;
  padding: 10px;
}
.row.row_partners:last-child {
  border-bottom: 0;
}
.row.row_partners:last-child {
  margin-bottom: 25px;
}
.row.row_partners div a img {
  height: 100px;
}
#partners h2 {
  font-family: "Open Sans", sans-serif;
}
.row.row_partners div a {
  text-decoration: none;
}
.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 450px;
  /* your iframe height */
  top: 484px;
  /* your iframe height */
  margin-top: -450px;
  /* your iframe height */
}
.menu-categories {
  margin-bottom: 15px;
}
.menu-categories ul {
  width: 100%;
  list-style-type: none;
  display: inline;
}
.menu-categories ul li {
  width: 100%;
  font-size: 20pt;
}
.menu-categories ul li a {
  margin-right: 15px;
  margin-left: 15px;
}
#wpcf7-f138-o1 {
  width: 60%;
}
.menu-category .row:first-child {
  padding-top: 15px;
}
.menu-category .row:last-child {
  padding-bottom: 15px;
}
.menu-category .row {
  padding-left: 15px;
  padding-right: 15px;
}
.category-name {
  font-family: 'black_jackregular', "Times New Roman", Serif;
  font-weight: bold;
  font-size: 20pt;
  border-bottom: 2px solid grey;
}
.menu-category img {
  padding: 10px;
}
.cat-image {
  text-align: center;
}
.category-name:hover {
  text-decoration: none;
  border-bottom: 2px solid #c29b5f;
}
.menu-item {
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
}
.subcat-holder {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}
.item-title {
  font-weight: bold;
}
.subcat-title {
  border-bottom: 2px solid black;
}
.subcat-title:hover {
  border-bottom: 2px solid #c29b5f;
}
.subcat-holder a:hover {
  text-decoration: none;
}
