<!-- Hoofdcategorie -->
<div id="{{ '%s-%d-%s'|format(menukaart.taxonomy,menukaart.id,menukaart.slug) }}"
     class="{{ menukaart.class }}">

    {% set meta = function('get_fields', menukaart) %}

    {% if use_h1|default %}
        <h1 class="menukaart-title">{{ menukaart.title }}</h1>
    {% else %}
        <div class="menukaart-title"><a href="{{ baseurl }}/menukaart/{{ menukaart.slug }}">{{ menukaart.title }}</div>
    {% endif %}

    {% if meta.bovenaan_menukaart|default %}
        <div class="content">
            {{ meta.bovenaan_menukaart }}
        </div>
    {% endif %}
    {% for subcat in subcats %}
        {% if subcat.parent == menukaart.id %}
            <!-- Hoofdcategorie -->
            <div class="container subcat-holder">
                <div class="row">

                    <div class="col-xs-5">
                        <a href="{{ baseurl }}/menukaart/{{ subcat.slug }}"><h2
                                    class="subcat-title">{{ subcat.name }}</h2></a>
                    </div>

                </div>
                <span class="border"></span>
                <br>

                <div class="row">
                    <div class="subcat-items">

                        {% for menuitem in menuitems %}
                            {% if subcat.slug in menuitem.class %}
                                <div class="container item-holder">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h5 class="item-title">
                                                {{ menuitem.post_title }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p class="item-text">
                                                {{ menuitem.post_content }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">

                                            <p class="item-price">
                                                Prijs: &euro; {{ menuitem.prijs }}
                                            </p>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>

        {% endif %}
    {% endfor %}
    <br>
    <!-- subcategorie -->
    <div class="container subcat">
        <div class="row">

            {% for menuitem in menuitems %}
                {#{{ dump(menuitem) }}#}

                {#{% for subcat in subcats %}#}
                {#{{ dump(subcat.slug, fullurl, subcat.slug in fullurl ) }}#}
                {#{% if subcat.slug in fullurl %}#}
                {#{% if subcat.slug in menuitem.class %}#}
                {#{{ dump(menuitem) }}#}
                <div class="container item-holder">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="item-title">
                                {{ menuitem.post_title }}
                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <p class="item-text">
                                {{ menuitem.post_content }}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">

                            <p class="item-price">
                                Prijs: &euro; {{ menuitem.prijs }}
                            </p>
                            <br>
                        </div>
                    </div>

                </div>
                {#{% endif %}#}
                {#{% endif %}#}
                {#{% endfor %}#}
            {% endfor %}
        </div>
    </div>
    {% if meta.onderaan_menukaart|default %}
        <div class="content">
            {{ meta.onderaan_menukaart }}
        </div>
    {% endif %}
</div>


