<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     x="0px" y="0px" viewBox="0 0 89.3 5.4" style="enable-background:new 0 0 89.3 5.4;" xml:space="preserve" class="ornament">
<style type="text/css">
    .st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.1;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#FFFFFF;stroke-width:0.3;stroke-miterlimit:10;}
</style>
    <path class="st0" d="M49.5,1.8c-0.1-1.3-1.2-1.8-2.1-1.7C46.7,0.2,46,0.7,46,1.5c0,0.9,0.8,1.3,1.4,1.2c0.3,0,0.7-0.3,0.8-0.8
	c0.1-0.2,0-0.6-0.2-0.8c-0.1-0.1-0.4-0.2-0.4,0.1c-0.1,0.3,0.3,0.4,0.2,0c0.3-0.2,0.3,0.4,0.2,0.6c-0.2,0.9-1,0.8-1.4,0.5
	c-0.4-0.3-0.5-1-0.3-1.6c0.2-0.4,0.6-0.6,0.9-0.7c0.8-0.1,1.9,0.4,2.1,1.7c0.1,0.4,0,0.8-0.2,1.1c-0.3,0.5-0.9,0.7-1.4,0.8
	c-1.2,0.2-2.4-0.8-3.4-1.5c-0.5-0.4-1.1-0.8-1.7-1.1c-0.3-0.1-0.9-0.4-1.3-0.4c0.4,0,0.8,0.3,1.1,0.5c0.6,0.4,1.2,0.8,1.8,1.3
	C44.7,3,45.3,3.4,46,3.6c-0.1,0.1-0.2,0.1-0.4,0.2c0.1,0,0.3,0,0.4-0.2c0.6,0.2,1.2,0.3,1.8,0.3C48.6,3.8,49.5,3.1,49.5,1.8z"/>
    <path class="st0" d="M42.7,2.8c-0.5-0.4-1.2-0.8-1.8-1.1c0.1-0.1,0.2-0.1,0.4-0.2c-0.1,0-0.3,0-0.4,0.2c-0.6-0.2-1.2-0.3-1.8-0.3
	c-0.8,0.1-1.8,0.8-1.7,2.1c0.1,1.3,1.2,1.8,2.1,1.7c0.7-0.1,1.4-0.6,1.4-1.4c0-0.9-0.8-1.3-1.4-1.2c-0.3,0-0.7,0.3-0.8,0.8
	c-0.1,0.2,0,0.6,0.2,0.8c0.1,0.1,0.4,0.2,0.4-0.1c0.1-0.3-0.3-0.4-0.2,0c-0.3,0.2-0.3-0.4-0.2-0.6c0.2-0.9,1-0.8,1.4-0.5
	c0.4,0.3,0.5,1,0.3,1.6C40.4,5,40,5.2,39.7,5.2c-0.8,0.1-1.9-0.4-2.1-1.7c-0.1-0.4,0-0.8,0.2-1.1c0.3-0.5,0.9-0.7,1.4-0.8
	c1.2-0.2,2.4,0.8,3.4,1.5c0.5,0.4,1.1,0.8,1.7,1.1c0.3,0.1,0.9,0.4,1.3,0.4c-0.4,0-0.8-0.3-1.1-0.5C43.9,3.7,43.3,3.2,42.7,2.8z"/>
    <g>
        <line class="st1" x1="0" y1="2.9" x2="36.2" y2="2.9"/>
        <line class="st1" x1="50.6" y1="2.9" x2="89.3" y2="2.9"/>
    </g>
</svg>
