{% if cover_image|default %}
<div class="top-image" style="visibility: hidden">
    <ul id="frontpage-slider">
        {% for slide_image in slide_images %}
        <li >

            <div class="slide-img" style="background-image: url('{{ slide_image['url'] }}');" ></div>

        </li>
            {% endfor %}
    </ul>

    <div class="col-xs-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 white-box-container">
        <div class="overlay-text">
            <h1>Heerlijk, sfeervol eten</h1>
            {% include 'elements/ornament.twig' %}
            <p>{{ post.custom.image_top_text }}</p>
        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-10 offset-sm-1 white-box-container">
    <div class="white-box">
        <div class="valign text">
            {{ post.custom.white_box_text }}
        </div>
        <div class="valign" style="width: 100px;">
            <a href="{{ function('get_permalink', post.reserveer_knopje_link) }}"
               class="btn btn-primary align-right">Reserveren</a>
        </div>
    </div>
</div>
{% endif %}