{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">

<header class="header">

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3 logo-container">
                {{ function('get_custom_logo') }}


            </div>
            <div class="col-xs-6 col-md-9">
                <nav class="top-nav navbar">


                    {% include "menu.twig" with {'menu': menu.get_items} %}


                </nav>
            </div>
        </div>
    </div>
</header>


{% include 'elements/top-image.twig' %}

<div class="wooden-bg">

    <div class="container" id="page-content">
        {% if post.custom['feature_1_title'] is defined %}
            <div class="row">
                {% if cover_image %}
                    <div class="overlay" onClick="style.pointerEvents='none'"></div>
                    <iframe
                            width="100%"
                            height="450"
                            frameborder="0"
                            style="margin-top: 35px;"
                            src="https://www.google.com/maps/embed/v1/streetview?&location=52.129046,5.427714&fov=90&heading=351.25&pitch=10&key=AIzaSyBgxgOV0dAwSJEjfVJTHAXM_aQZGBWNx6c">
                    </iframe>
                {% endif %}
                <div class="col-xs-12 col-sm-10 offset-sm-1">

                    <div class="row feature-items">
                        {% for img in images %}
                            <div class="col-xs-12 col-md-4 feature-item">
                                <a href="{{ TimberTerm(img.link).link }}">
                                    <div class="feature-img-container">
                                        <img src="{{ img.pic }}"/>
                                    </div>
                                    <h3>{{ img.title }}</h3>
                                    {% include 'elements/ornament.twig' %}
                                    <p>{{ img.text }}</p>
                                </a>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-10 offset-sm-1 text-content">
                {#{{ dump(post.custom) }}#}
                {% block content %}
                    {{ post.content }}
                {% endblock %}

            </div>
        </div>
    </div>

</div>
<footer class="footer">

    <div class="container">
        <div class="row" style="margin-left: 15px;">
            <div class="col-xs-12 col-md-2 footer-column">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Social media</h3><br>

                        <a class="social-media-item" href="https://www.facebook.com/restaurantdebuurman/"
                           target="_blank">
                            <i class="fa fa-facebook-square fa-fw"></i> <span class="sm">Facebook</span>
                        </a>

                        <a class="social-media-item" href="https://twitter.com/buurmanleusden" target="_blank">
                            <i class="fa fa-twitter-square fa-fw"></i> <span class="sm">Twitter</span>
                        </a>

                        <a class="social-media-item" href="https://www.instagram.com/restaurantdebuurman/?hl=nl"
                           target="_blank">
                            <i class="fa fa-instagram fa-fw"></i> <span class="sm">Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 footer-column">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <h3>Adres</h3>
                        <p>
                            't Plein 1<br>
                            3831 CR Leusden
                        </p>
                        <p>
                            Telefoon: 033-4321667<br>
                            E-mail: info.buurman@gmail.com
                        </p>

                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-3 footer-column">
                <h3>Openingstijden</h3>
                <time itemprop="openingHours" datetime="Mo 11:30-17:00"><span class="day">Maandag:</span><span
                            class="hours">13:00-17:00 (Keuken tot 16:00)</span></time>
                <time itemprop="openingHours" datetime="Tu-sa 10:00-21:00"><span
                            class="day">Dinsdag t/m Zaterdag:</span><span
                            class="hours">10:00-21:00 (Keuken tot 20:00)</span></time>
                <time itemprop="openingHours" datetime="su closed"><span class="day">Zondag:</span><span class="hours">Gesloten</span>
                </time>

            </div>

            <div class="col-xs-12 col-md-3 footer-column">
                <div class="row smaakpolitie">
                    <div class="col-md-6 offset-md-2 col-xs-12">
                        <h3>Smaakpolitie</h3>

                        <a class="social-media-item" href="http://www.dekeusvanrobgeus.nl/" target="_blank"></a>
                        <img src="{{ site.theme.link }}/images/keurmerk.png"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{#{{ dump(site) }}#}

{#<header class="header" >#}
{#{% block header %}#}
{#<div class="wrapper">#}
{#<h1 class="hdr-logo" role="banner">#}
{#<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>#}
{#</h1>#}
{#<nav id="nav-main" class="nav-main" role="navigation">#}
{#</nav><!-- #nav -->#}
{#</div>#}
{#{% endblock %}#}
{#</header>#}

{#<section id="content" role="main" class="content-wrapper">#}
{#{% if title %}<h1>{{title}}</h1>{% endif %}#}
{#<div class="wrapper {{sidebar_class}}">#}
{#{% block content %}#}
{#Sorry, no content#}
{#{% endblock %}#}
{#</div>#}
{#{% if sidebar %}#}
{#<aside class="layout-sidebar">#}
{#{{sidebar}}#}
{#</aside>#}
{#{% endif %}#}
{#</section>#}

{#{% block footer %}#}
{#<footer id="footer">#}
{#{% include 'footer.twig' %}#}
{#</footer>#}

{#{% endblock %}#}
{{ function('wp_footer') }}

{% block footerJavascript %}

    {#<script type="application/javascript" src="{{site.theme.link}}/bower_components/jquery/dist/jquery.min.js" ></script>#}
    <script type="application/javascript">

        function removeClearBox() {
            $('#iframe-hider').addClass('hidden');
        }

        function Tether() {

        }
        window.debug = true;

    </script>
    <script type="application/javascript"
            src="{{ site.theme.link }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="{{ site.theme.link }}/static/plugins.js"></script>
    <script type="application/javascript" src="{{ site.theme.link }}/static/site.js"></script>

{% endblock %}
</body>
</html>