{% if menu %}
    <ul class="nav navbar-nav main-nav" data-maxheight="121" data-maxwidth="9999">
        {% for item in menu %}
            {% if 'current-menu-item' in item.classses %}
                {% set classes = item.classes|merge('active') %}
            {% else %}
                {% set classes = item.classes %}
            {% endif %}


            {% if item.children %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        {{ item.title }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if item.link != '#' %}
                            <li class="{{ classes | join(' ') }} dropdown-header">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                        {% endif %}


                    </ul>
                </li>
            {% else %}

                <li class="{{ classes | join(' ') }} nav-item">
                    <a href="{{ item.link }}" class="nav-link">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
