{% extends 'base.twig' %}


{% block content %}
    {{ parent() }}
    <div id="partners">
        <h2>Zie hieronder onze partners:</h2><br>

        <div class="container">
            <div class="row row_partners">
                <div class="col-xs-12 col-md-6">
                    <a href="https://www.delixl.nl/"><img src="{{ site.theme.link }}/images/image001.jpg"></a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a href="https://www.delixl.nl/"><h2>DeliXL Nieuwegein</h2></a>
                </div>
            </div>
            <div class="row row_partners">
                <div class="col-xs-12 col-md-6">
                    <a href="https://www.delixl.nl/assortiment/merken/reuser_en_smulders/reuser-smulders.jsp"><img
                                class="reuser"
                                src="{{ site.theme.link }}/images/image002.jpg"></a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a href="https://www.delixl.nl/assortiment/merken/reuser_en_smulders/reuser-smulders.jsp"><h2>Reuser
                            & Smulders Koffie</h2></a>
                </div>
            </div>
            <div class="row row_partners">
                <div class="col-xs-12 col-md-6">
                    <a href="http://www.bokkers-elektrotechniek.nl/"><img
                                src="{{ site.theme.link }}/images/image003.gif"></a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a href="http://www.bokkers-elektrotechniek.nl/"><h2>Bokkers Elektrotechniek</h2></a>
                </div>
            </div>
            <div class="row row_partners">
                <div class="col-xs-12 col-md-6">
                    <a href="http://www.versalert.nl/pg-27589-7-74740/pagina/home.html"><img
                                src="{{ site.theme.link }}/images/image004.jpg"></a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a href="http://www.versalert.nl/pg-27589-7-74740/pagina/home.html"><h2>Versalert Hoevelaken</h2>
                    </a>
                </div>
            </div>
            <div class="row row_partners">
                <div class="col-xs-12 col-md-6">
                    <a href="https://www.dmg.nu/"><img src="{{ site.theme.link }}/images/image005.jpg"></a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a href="https://www.dmg.nu/"><h2>Dragon Media Group</h2></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}