{% extends 'base.twig' %}


{% block content %}
    <div class="menu-categories">
        <div id="freewall" class="container" style="visibility: hidden">
            <div class="row">

                {% for menukaart in menukaarten %}
                    {% set meta = function('get_fields', menukaart) %}
                    {% set image = meta.afbeelding %}
                    <div class="menu-item col-xs-12 col-md-4">
                        <div class="container-fluid menu-category">

                            <div class="row">
                                <div class="cat-image col-xs-12 embed-responsive embed-responsive-16by9">
                                    <img class="cat-img" src="{{ image.url }}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="{{ baseurl }}/menukaart/{{ menukaart.slug|default }}"
                                       class="category-name">{{ menukaart.name }}</a>
                                </div>
                            </div>

                            {% for subcat in subcats %}
                                {% if subcat.parent == menukaart.id %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="{{ baseurl }}/menukaart/{{ menukaart.slug|default }}/{{ subcat.slug|default }}">{{ subcat.name }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

        {% block footerJavascript %}
            {{ parent() }}
            <script>

                jQuery(document).ready(function ($) {
                    var wall = new Freewall("#freewall");
                    wall.reset({
                        selector: '.menu-item',
                        animate: true,
                        gutterX: 30,
                        gutterY: 30,
                        WHeight: 200,
                        onResize: function () {
                            wall.fitHeight();
                            wall.fitWidth();
                        },
                        onComplete: function () {
                            $('#freewall').css({visibility: 'visible'})
                        }
                    });
                    wall.fitWidth();
//                    console.log(wall);
                });

            </script>
        {% endblock %}