@font-base: 'Open Sans', sans-serif;
@font-title: 'black_jackregular', "Times New Roman", Serif;
@font-header: "Times New Roman", Serif;

@color-default: black;
@color-highlight: #c29b5f;

@font-face {
  font-family: 'black_jackregular';
  src: url('styles/font/blackjack-webfont.eot');
  src: url('styles/font/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
  url('styles/font/blackjack-webfont.woff') format('woff'),
  url('styles/font/blackjack-webfont.ttf') format('truetype'),
  url('styles/font/blackjack-webfont.svg#black_jackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}